os
shutil
random
requests 
zipfile
io
click
cv2
numpy
sklearn.cluster.KMeans
sklearn.preprocessing.normalize
sklearn.linear_model.LogisticRegression
sklearn.externals.joblib
matplotlib.pyplot
sklearn.metrics.accuracy_score
sklearn.utils.shuffle
tensorflow.contrib.layers.flatten
tensorflow
